[submodule "vim/.vim/bundle/python-mode"]
	path = vim/.vim/bundle/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/editorconfig-vim"]
	path = vim/.vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pyenv/.pyenv"]
	path = pyenv/.pyenv
	url = https://github.com/pyenv/pyenv
[submodule "pyenv-virtualenv/.pyenv/plugins/pyenv-virtualenv"]
	path = pyenv-virtualenv/.pyenv/plugins/pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv
[submodule "pyenv-install-latest/.pyenv/plugins/pyenv-install-latest"]
	path = pyenv-install-latest/.pyenv/plugins/pyenv-install-latest
	url = https://github.com/momo-lab/pyenv-install-latest
[submodule "nvm/.nvm"]
	path = nvm/.nvm
	url = https://github.com/creationix/nvm
[submodule "vim/.vim/bundle/gruvbox"]
	path = vim/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pyenv-latest/.pyenv/plugins/xxenv-latest"]
	path = pyenv-latest/.pyenv/plugins/xxenv-latest
	url = https://github.com/momo-lab/xxenv-latest.git
